@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.well {
  @include flex-center;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  @include flex-center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 1em;
  box-sizing: border-box;
  color: whitesmoke;
}

#one {
  @include flex-center;
  background: #fb1d1d;
}

#two {
  @include flex-center;
  background: #3194f6;
}

#three {
  @include flex-center;
  background: #1fc702;
}

#four {
  @include flex-center;
  background: #0059fd;
}

// nav dots CSS

.table {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 42%;
  right: -100px;
  z-index: 300;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}
.dots {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;

  .active {
    a {
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
      transform: scale3d(1.3, 1.3, 1.3);

      &:after {
        height: 100%;
      }
    }
  }

  li {
    position: relative;
    display: block;
    margin: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      text-indent: -999em;
      cursor: pointer;
      position: absolute;
      overflow: hidden;
      background-color: transparent;
      box-shadow: inset 0 0 0 2px white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 1px #fff;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .table {
    display: none;
  }
}
