section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    max-width: 75%;
  }
}

@media only screen and (max-width: 480px) {
  section {
    p {
      max-width: 100%;
      margin-right: 20px;
    }
  }
}
